@model Luma.Models.Comment

@{
    ViewBag.Title = "Edit Comment";
}

<div id="edit-comment-con">
    <h2 class="page-title">Edit Comment</h2>

    <form method="post" asp-action="Edit" asp-controller="Comments" asp-route-id="@Model.Id">
        <div class="form-group">
            <label asp-for="Text" class="form-label">Comment Text</label>
            <textarea asp-for="Text" class="form-input"></textarea>
            <span asp-validation-for="Text" class="validation-message"></span>
        </div>

        <div class="form-actions">
            <button type="submit">Modify Comment</button>
            <a asp-controller="Tasks" asp-action="Show" asp-route-id="@ViewBag.TaskId">Cancel</a>
        </div>
    </form>
</div>
