@{
    ViewData["Title"] = "Projects";
}
<div id="projects-con">
    <h2>Projects</h2>

    @if (ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message
        </div>
    }

    <div class="project-grid">
        <div class="project-card add-project">
            <a href="/Projects/New" class="add-project-button">+</a>
        </div>
        @if (ViewBag.ProjectViewModels != null)
        {
            foreach (var projectViewModel in ViewBag.ProjectViewModels)
            {
                <div class="project-card" onclick="location.href='@Url.Action("Index", "Tasks", new { ProjectId = projectViewModel.Project.Id })'">
                    <h3>@projectViewModel.Project.Project_Name</h3>
                    @if (!string.IsNullOrEmpty(projectViewModel.OrganizerUsername))
                    {
                        <p>Organized by: @projectViewModel.OrganizerUsername</p>
                    }
                    else
                    {
                        <p>Organizer not found.</p>
                    }
                </div>
            }
        }
    </div>
</div>