@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Mvc.Rendering

<ul class="acc-ul">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register" class="@(ViewContext.ActionDescriptor.DisplayName?.Contains("Register") == true ? "active" : "")">
            Register
        </a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login" class="@(ViewContext.ActionDescriptor.DisplayName?.Contains("Login") == true ? "active" : "")">
            Login
        </a>
    </li>
}
</ul>