*,
*::before,
*::after {
  box-sizing: border-box;
}

* #login-error {
  color: var(--gray-color) !important;
}

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: var(--font-secondary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
span,
ul,
li {
  list-style: none;
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  text-align: inherit;
  cursor: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}
